@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* .swiper
{
  padding: 0px 100px !important;
  overflow: hidden;
} */
.swiper-wrapper {
  padding: 70px 0px;
}
.swiper {
  padding: 20px;
}
.swiper-pagination {
  margin-top: 200px !important;
}
.swiper-pagination-bullet {
  transition: all 0.3s linear;
}
.swiper-pagination-bullet-active {
  background: #25a52b !important;
  width: 20px !important;
  border-radius: 10px !important;
}
body {
  font-family: sans-serif;
  font-size: 16px;
}


/*animation  */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.delay-0-2s {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.delay-0-4s {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.delay-0-6s {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.delay-0-8s {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}


.drop-down-triangle:after{
  position: absolute;
  content: "";
  top: -4px;
  left: 47%;
  transform: translate(-50%,-50%);
  width: 0; 
  height: 0; 
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  
  border-bottom: 12px solid #fff;
}
.caller {
  border-radius: 50%;
  /* background: #5a99d4; */
  box-shadow: 0 0 0 0 rgba(255, 255, 255, .5);
  animation: pulse 1.5s infinite;
}
.caller:hover {
  animation: none;
}

@keyframes pulse {
  0% {
   transform: scale(0.9);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 15px rgba(90, 153, 212, 0);
  }
    100% {
     transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
  }
}